/**
 * Portion of stylesheet for controlling appearance of navbar elements.
 * * * * */

 .uk-logo {
   height: 4em;

   @media (max-width: $breakpoint-small) {
     height: 3.5em;
   }
 }

 .uk-navbar {
   .material-icons {
     font-size: 36px;
   }
 }

 .uk-offcanvas.uk-open {

   .uk-offcanvas-bar-flip {
    left: auto;
    right: 0;
   }
 }

.uk-offcanvas-bar-flip {
  padding-left: 0;
  padding-right: 0;
  background-color: $monet-blue;

  .img-container {
    margin-top: -20px;
    background-color: $white;
    padding: 20px 0;

    img {
      margin-bottom: 0;
    }
  }

  .uk-nav.uk-nav-primary {

    li {
      list-style: none;
      font-weight: 700;
      background-color: $monet-gold;
      padding: 8px 20px;
      border: 1px solid $white;

      a {
        font-size: 18px;
        color: $monet-blue;
      }
    }

  }
}
