/**
 * Portion of stylesheet for controlling appearance of navbar elements.
 * * * * */

 .uk-logo {
   height: 4em;

   @media (max-width: $breakpoint-small) {
     height: 3.5em;
   }
 }

 .uk-navbar {
   .material-icons {
     font-size: 36px;
   }
 }

.uk-offcanvas-bar-flip {
  left: auto;
  right: 0;
}
