/**
 * Portion of stylesheet for importing fonts and setting typographic rules.
 * * * * */

@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');


body {
  font-family: 'Montserrat', sans-serif;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4 {
  color: $monet-blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  color: $monet-blue;

  &:hover {
    color: $dark-grey;
  }
}

.uk-text-lead {
  font-size: 20px;
}

.semi-bold {
  font-weight: 500;
}

.text-gold {
  color: $monet-gold;
}

.text-blue {
  color: $monet-blue;
}

h4 {
  .how-it-works & {
    @media (max-width: $breakpoint-small) {
      font-size: 18px;
    }
  }
}

em {
  color: $monet-gold;
}

//TODO: Felt cute, might delete later.
.price-fancy {
  font-size: 1.5em;
}
