@import 'colors';
@import 'forms';
@import 'typography';

body, html, #app {
	height: 100%;
	margin: 0;
}

.uk-button {
	margin: 10px 0;
	border-radius: 4px;
	font-weight: 500;

	&.uk-button-primary {
		background-color: $monet-gold;
	}

	&.uk-button-secondary {
		background-color: $monet-blue;
	}
}
